<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <dubbo:application name="demo-support-provider"/>
    <dubbo:protocol name="dubbo" threads="50" dispatcher="message" />
    <dubbo:registry address="127.0.0.1:2181" register="false"/>

    <bean id="activityExportService" class="com.demo.support.export.impl.ActivityExportServiceImpl"/>
    <dubbo:service interface="com.demo.support.export.ActivityExportService" ref="activityExportService"/>

    <bean id="productExportService" class="com.demo.support.export.impl.ProductExportServiceImpl"/>
    <dubbo:service interface="com.demo.support.export.ProductExportService" ref="productExportService"/>

    <bean id="settlementExportService" class="com.demo.support.export.impl.SettlementExportServiceImpl"/>
    <dubbo:service interface="com.demo.support.export.SettlementExportService" ref="settlementExportService"/>

</beans>